.box-vants{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
    .box-um{
        display: flex;
        justify-content: center;
        .card-imagem{
            padding: 10px;
        }
        .card-imagem img{
            height: 100px;
            width: 110px;
        }
        .text{
            padding: 10px;
            width: 35%;
            h3{
                margin-bottom: 10px;
            }
            p{
                font-size: 0.7rem;
                text-align: justify;
            }
        }
    }
    @media (max-width:850px) { 
        flex-direction: column;
        width: 100vw;
        img{
             max-width: 450px;
        }
    }
}